/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #aa22cf 40%, #000000 60%);
    color:rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
h1{
    text-decoration: none;
    color: white; /* Cambia el color del texto */
    font-weight: bold;
}

p{
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #aa22cf 60%, #000000 90%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#experiencia{
    text-decoration: none;
    color: white; /* Cambia el color del texto */
    font-weight: bold;
    padding-left: 60px;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    text-align: left;
    
}

.info h2 {
    font-size: 40px;
    background: rgb(255, 254, 254);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Redes sociales */
.social-icons img {
    width: 50px;
    filter: drop-shadow(2px 2px 6px rgba(7, 7, 7, 0.5));
    margin-right: 20px;
}



button:hover {
    background-color: #c778dd;
    box-shadow: 0px 0px 10px rgba(199, 120, 221, 0.8);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    animation: fadeIn 1s ease-out;
}

#experiencia{
    animation: fadeIn 1s ease-out;
}

nav ul {
    list-style: none; /* Quitar los puntos */
    padding: 0;
    display: flex;
    gap: 20px; /* Espacio entre elementos */
}

nav ul li {
    display: inline; /* Hace que los elementos se alineen en línea */
}

nav a {
    text-decoration: none;
    color: white; /* Cambia el color del texto */
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        text-align: left;
    }
}